<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mpd</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Start</servlet-name>
    <servlet-class>karabelas.servlet.Start</servlet-class>
    <init-param>
      <param-name>dbconfigfile</param-name>
      <param-value>WEB-INF\dbconfig.properties</param-value>
    </init-param>
    <init-param>
      <param-name>log4j-properties-location</param-name>
      <param-value>WEB-INF\log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
  <listener>
    <listener-class>karabelas.servlet.RequestLogger</listener-class>
  </listener>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/WEB-INF/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/error/ErrorBadRequest.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/error/ErrorAccessDenied.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/WEB-INF/error/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>TrafficParkingInfraction</display-name>
    <servlet-name>TrafficParkingInfraction</servlet-name>
    <servlet-class>karabelas.servlet.TrafficParkingInfraction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrafficParkingInfraction</servlet-name>
    <url-pattern>/listinfractions.jsp</url-pattern>
  </servlet-mapping>
</web-app>